@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
.container {
  color: white;
  font-size: 22px;
   background: rgba(200, 54, 54, 0); 
   padding: 0.5em; 
   margin: 8vh auto 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 justify-content: space-between;
 box-shadow: 5px 10px 5px 10px #888888;
 transition: all .4s ease-in-out;
}

.container:hover {
   transform: scale(1.1);
}
     .button-books{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
     }

     .image-description {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
        justify-content: center;
        align-items: flex-start;
      
     }

     img {
         border-radius: 20px;
     }

     .button  {
         border-radius: 50px;
        margin: 0.5em;
     }

     .book-image, .book-title, .book-author, .book-link {
        margin: 0.5em;
        font-family: 'Noto Serif', serif;
        font-weight: bold;

     }

     .book-title {
        color: blue;
     }

     .author {
        color: red;
     }
h1 {
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
   font-size: 48px;
}

.result-page {
   margin: 50px;
   color: white;

}